MySQL-python==1.2.5
PyRSS2Gen==1.0.0
Twisted==12.2.0
altgraph==0.10.1
bdist-mpkg==0.4.4
beautifulsoup4==4.3.2
gnureadline==6.3.3
ipython==2.1.0
macholib==1.5
modulegraph==0.10.1
pandas==0.14.0
py2app==0.7.1
pyOpenSSL==0.13
python-dateutil==1.5
pytz==2012d
virtualenv==1.11.6
wsgiref==0.1.2
xattr==0.6.4
zope.interface==3.8.0
